*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.button{
    background-color: rgb(64, 86, 233);
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 30px 20px; 
    cursor: pointer;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
    padding: 10px 0;
}


ul{
    display: flex;
    justify-content: space-between;
    list-style:none;
    gap: 20px;
    align-items: center;
}


ul li a{
    text-decoration: none;
    color: #524e4e;
    font-size: 15px;

}

.ber{
    display: flex;
    gap: 30px;
}
/* navber close */

/* start banner work */

.benner-section img{
    height: 760px;
    width: 100%;
    object-fit: cover;
    display: flex;
}

.benner-text{
    position: absolute;
    top: 240px;
    left: 360px;
    color: white;
    text-align: center;
}

.benner-text h1{
    font-size: 75px;
}

.benner-text p{
    font-size: 25px;
}
.benner-button button{
    position: absolute;
    top: 700px;
    left: 670px;
    text-align: center;
    background-color: rgb(64, 86, 233);
    padding: 20px 44px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
}
/* close banner */


/* start employee section */

.employee-section {
    margin: 60px auto;
    text-align: center;
}

.employee-section h1{
    font-size: 60px;
    border-top: 20px;
}

.employee-identity{
    margin-top: 40px;
    display: grid;
    justify-content: space-between;
    gap: 18px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 38px 38px;
    margin-left: 100px;
}

.employee-identity .ei-photo {
    border: 1px solid rgb(213, 210, 210);
    border-radius: 10px; 
}

.employee-identity .ei-photo .header{
    margin: 12px 18px; 
    text-align: left; 
}

.employee-identity .ei-photo h5 {
    color: #4d31d5;
    font-size: 11px;
}

.employee-identity .ei-photo p {
    color: #88878c;
}

/* close */


/* start secure-items */



.parent-section {
    margin: 60px auto;
    text-align: center;
}

.parent-section h2{
    font-size: 50px;
    margin-bottom: 20px;
}

.parent-section p{
    color: #88878c;
     margin-bottom: 70px;   
}

.next h6{
    color: #88878c;
     margin-bottom: 20px;
     font-size: 13px;
}

.next-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 8px;

}

.next-container .next{
    border: 1px solid rgb(218, 215, 213);
    padding: 18px;
    border-radius: 10px;
    text-align: left;
}

.next-container .next h2{
    margin: 10px 0;
}

.next-container .next p {
    color: #757575;
    font-size: 15px;

}

.next ul{
    display: block;
}

.next ul li{
    margin:15px 0;
    position:relative;
    padding-left:30px;
    height: 20px;
    display: list-item;
    width: 310px;
    color: #444345;
}


.next ul li::before{

    content:"•";
    color:#2962ff;
    position:absolute;
    left:0;
}

.next .common-btn-1{
    border: 1px solid blue;
    border-radius: 6px;
    padding: 13px 125px;
    margin-top: 45px 20px; 
    font-size: 15px;
    color: #2962ff;
    margin-bottom: 28px;
    cursor: pointer;

}

.next .common-btn-2{
    border: 1px solid blue;
    border-radius: 6px;
    padding: 13px 145px;
    margin-top: 45px 20px; 
    font-size: 15px;
    color: white;
    margin-bottom: 28px;
    background-color: #2962ff;
    cursor: pointer;

}

.next .common-btn-3{
    border: 1px solid black;
    border-radius: 6px;
    padding: 13px 135px;
    margin-top: 45px 20px; 
    font-size: 15px;
    margin-bottom: 28px;
    cursor: pointer;
}

.next .text li{
    color: rgb(214, 215, 216);
}
/* close */


.hackathon{
    background:#111827;
    color:#fff;
    padding:80px 10%;
    text-align:center;
}

.hackathon h2{
    font-size:40px;
    margin-bottom:15px;
}

.subtitle{
    color:#cbd5e1;
    max-width:700px;
    margin:auto;
    line-height:1.7;
}

.hackathon-card{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    margin:50px 0;
}

.card{
    background:#1e293b;
    padding:30px;
    border-radius:12px;
    transition:.3s;
}


.card h3{
    margin-bottom:15px;
    color:#38bdf8;
}

.btn{
    display:inline-block;
    padding:15px 35px;
    background:#2962ff;
    color:white;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    background:#0284c7;
}

